<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:title) %> | Bakery</title>
    <%= csrf_meta_tags %>
    
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
  
  <br>
  
 <%= render 'layouts/header'%> 
  
   <div class="container"> 
    <%= yield %> 
    </div> 
  <br>
   
 
  <%= render 'layouts/footer'%> 
   
  </body>
</html>

