<p id="notice"><%= notice %></p>

<div class="row">
<h1>Categories</h1>




    <% @categories.each do |category| %>
     <div class="col-xs-25 col-sm-12 col-md-6 col-lg-10 text-center">
    
     
        <div class="itemhols">
      
      
        <h3><%= category.title %></h3>
        <p><%= category.descriprion %></p>
        <%= link_to (image_tag category.image, :class=>"img-circle float-left", :style=>"width:200px;height:200px;"), category %> 
         
        
       
        
                
        
        
        
        
        
        
        
        
        <%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      
      </div>
      
      </div>
    <% end %>


<%= link_to 'New Category', new_category_path %>
