<p id="notice"><%= notice %></p>


<h1>See full range of our delicious Cakes!</h1>




<div class="row">
    <% @items.each do |item| %>
    
    
    
 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
    
    <h2><%= item.name %></h2>
        <h4>Price: <%= item.price %></h4>
        <p>Calories per Serving: <%= item.caloriesPerServing %></p>
        <p>Gluten Free: 
        <%  if item.glutenFree? %>Yes
        <% else %>No 
        <% end %></p>
        <p>Item contains Nuts: 
        <% if item.containsNuts? %>Yes
        <% else %>No 
        <% end %>
        </p>
        <%= link_to (image_tag item.image, :class=>"img-responsive"), item %>
     <p><%= item.description %></p>
    
    <p>
     <a href="/cart/<%= item.id %>" class="button">add to Cart</a>
        <%= link_to 'Show', item, :class=>"btn btn-primary" %>
        <%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
 </p>
 </div>
<% end %>
</div>

<br>

<%= link_to 'New Item', new_item_path, :class=>"btn btn-primary" %>


